.bg {
    background: url("../../img/landing.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  
  .img {
 /*    width: 13vw;
    height: 5vh; */
    width:200px; 
    height:200px;
    margin-top: 15vh;
    margin-left: 64vw;
    border-radius: 100px;
  }
  
  .author {
    font-size: 1.3vw;
    margin-top: -14.5vh;
    margin-left: 64vw;
    color: #ffe600a9;
  }
  
  .buttonIng {
    width: 13vw;
    height: 5vh;
    margin-top: 10vh;
    margin-left: 64vw;
    background-color: #e20d0d;
    color: rgb(255, 217, 2);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
    font-size: 1.5vw;
    -webkit-text-stroke: 0.5px black;
    font-weight: bold;
    cursor: pointer;
  }
  
  .buttonIng:hover {
    box-shadow: 0px 0px 20px 0px rgb(255, 209, 4);
    background-color: rgb(255, 209, 4);
    color: #1c0de2;
  }
  